# Python environment and caches
venv/
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Data files (do NOT push large raw/processed data)

data/
*.csv

!data/processed/citi_bike_with_weather_2022.csv.zip

# Secrets / tokens / credentials
secrets/
*.env
token.txt
noaa_token.txt
*.json

# Archieve Scripts
citi_dashboard_Part_Archieve.py